body {
    margin: 0;
    padding: 0;
    background-color: #FFF;
  }
  nav {
    display: flex;
    justify-content: center;
    gap: 5rem;
    font-style: normal;
    line-height: 27px;
    padding: 1rem;
}
nav a{
    color: #111111;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    align-items: center;
    cursor: pointer;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    text-decoration-thickness: 0.2rem;
}
footer {
    background: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    gap: 5rem;
}
footer h3{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF
}
footer a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 187%;
    letter-spacing: 0.02em;
    max-width: 320px;
    color: #DBDBDB;
    text-decoration: none;
}
footer ul{
    display: flex;
    flex-direction: column;
}
.footer-colum{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E5E5;
}
.gallery-elemnt{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}
.gallery h1{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 5rem;
    line-height: 104%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #111111;
    padding-bottom: 75px;
    width: 100vw;
    text-align: center;
}
.gallery-even{
    background: #F9F9F9;
}
.gallery-images{
    max-width: 1300px;
}
.gallery img:hover{
    transform: scale(1.03);
}