body {
    margin: 0;
    padding: 0;
    background-color: #FFF;
}

nav {
    display: flex;
    justify-content: center;
    gap: 5rem;
    font-style: normal;
    line-height: 27px;
    padding: 1rem;
}

nav a {
    color: #111111;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    align-items: center;
    cursor: pointer;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    text-decoration-thickness: 0.2rem;
}

footer {
    background: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    gap: 5rem;
}

footer h3 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF
}

footer a {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 187%;
    letter-spacing: 0.02em;
    max-width: 320px;
    color: #DBDBDB;
    text-decoration: none;
}

footer ul {
    display: flex;
    flex-direction: column;
}

.footer-colum {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E5E5;
}

.gallery-elemnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

.gallery h1 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 5rem;
    line-height: 104%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #111111;
    padding-bottom: 75px;
    width: 100vw;
    text-align: center;
}

.gallery-even {
    background: #F9F9F9;
}

.gallery-images {
    max-width: 1300px;
}

.gallery img:hover {
    transform: scale(1.03);
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
    width: 500px;
    height: 600px;
    border-radius: 6px;
    color: darkgrey;
    padding: 3rem;
    text-align: center;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    background: #F9F9F9;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;}

.register input {
    width: 300px;
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid darkgray;
    padding: 5px;
    color: darkgray;
}

.register label {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 187%;
    letter-spacing: 0.02em;
    max-width: 320px;
    color: #DBDBDB;
    padding: 5px;
}

.register h1 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
}

input:focus {
    outline: none;
}
.register button{
    margin-top: 2rem;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: transparent;
    max-width: 140px;
    max-height: 55px;
    cursor: pointer;
    padding: 12px 24px;
    border: 2px solid darkgray;
}
.register button:hover{
    scale: 1.1;
}
#register-page-text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 187%;
    letter-spacing: 0.02em;
    color: #333333;
    max-width: 310px;
}
.home-welcome h1{
    max-width: 176px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: 104%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #111111;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.home-welcome p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 187%;
    letter-spacing: 0.02em;
    color: #555555;
    max-width: 430px;
    padding-bottom: 1rem;
    padding-top: 8rem;
    margin-left: 5rem;
}
.home-welcome{
    display: flex;
    justify-content: center;
    background-color: #E5E5E5;
    padding-top: 2px;
    padding-bottom: 2px;
}
.home-video{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9F9F9;
}
.home-video h2{
    font-family: 'Oswald';
    font-style: normal;
    font-size: 24px;
    line-height: 180%;
    text-transform: capitalize;
    color: #111111;
    font-weight: 600;
    padding: 1.5rem 0rem;
}
.home-video iframe{
    width: 50vw;
    height: 28.125vw;
}
.home-video p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 187%;
    letter-spacing: 0.02em;
    color: #555555;
    max-width: 50vw;
    padding-bottom: 3rem;
    padding-top: 5rem;
    margin-left: 5rem;
}